<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark "style="background-color:#2A3F54!important">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">PNR Group</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav ml-auto ">
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Account:getForm1'%}">Driver Trip</a>
            </li>
            {% comment %} <li class="nav-item">
              <a class="nav-link" href="{% url 'Account:openJobShow'%}">Open Jobs</a>
            </li> {% endcomment %}
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Account:assignedJobShow'%}">Assigned Jobs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "Account:timeOfStart" %}">Time of request</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fa fa-cog" style="font-size: 1.5rem;"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'changePasswordView' %}"><i class="fa fa-refresh"></i> Change password</a></li>
                <li>
                  <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Log Out</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar -->
  </header>