{% extends "main/main.html" %}
{% load static %}
{% block title %} | Expanse section {% endblock %}

{% block content %}


<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2> {% if rcti %} View Expanse {% else %} Add Expanse {% endif  %}:-</h2>
                            <div class="clearfix"></div>
                        </div>
                        <form action="{% if not rcti %} {% url 'Account:expanseFormSave' %} {%endif %}" method="post" novalidate>
                            {%csrf_token%}
                            <div class="x_content">
                                <div class="custom-continer">
                                    <!-- truckNo,docketNumber,docketDate,docketYard -->
                                    <div class="col-md-3 col-sm-3">
                                        <label for="truckNo">Truck no :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="number" name="truckNo"
                                                pattern="[0-9]*" required data-validate-length-range="0,5"
                                                style="padding: 0.25rem 0.2rem;" value="{{ rcti.truckNo }}" id="truckNo"
                                                {% if rcti %}  readonly {% endif  %} >
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label for="docketNumber">Docket number :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="text" name="docketNumber"
                                                pattern="[0-9]*" required data-validate-length-range="0,5"
                                                style="padding: 0.25rem 0.2rem;" value="{{ rcti.docketNumber }}"
                                                id="docketNumber" {% if rcti %}  readonly {% endif  %}>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label for="docketDate">Docket date :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="date" name="docketDate" 
                                                style="padding: 0.25rem 0.2rem;" value="{{ rcti.docketDate }}"
                                                id="docketDate" {% if rcti %}  readonly {% endif  %}>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label for="docketYard">Docket yard :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="text" name="docketYard"
                                                style="padding: 0.25rem 0.2rem;" value="{{ rcti.docketYard }}"
                                                id="docketYard" {% if rcti %}  readonly {% endif  %}>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12">
                                        <label for="description">Desctiotion :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <textarea class="form-control" required type="text" name="description"
                                                style="padding: 0.25rem 0.2rem;" 
                                                id="description" {% if rcti %}  readonly {% endif  %}>{{ rcti.description }}</textarea>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-3">
                                        <label for="paidKm">Paid Kms :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="number" name="paidKm"
                                                pattern="[0-9]*" required data-validate-length-range="0,5"
                                                style="padding: 0.25rem 0.2rem;" value="{{ rcti.paidKm }}" id="paidKm"
                                                {% if rcti %}  readonly {% endif  %}>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label for="invoiceQuantity">Invoice Quantity :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="number" name="invoiceQuantity"
                                                pattern="[0-9]*" required data-validate-length-range="0,5"
                                                style="padding: 0.25rem 0.2rem;" value="{{ rcti.invoiceQuantity }}"
                                                id="invoiceQuantity" {% if rcti %}  readonly {% endif  %}>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label for="unit">Unit :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="text" name="unit" 
                                                style="padding: 0.25rem 0.2rem;" value="{{ rcti.unit }}"
                                                id="unit" {% if rcti %}  readonly {% endif  %}>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label for="unitPrice">Unit Price :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="number" name="unitPrice"
                                                style="padding: 0.25rem 0.2rem;" value="{{ rcti.unitPrice }}"
                                                id="unitPrice" {% if rcti %}  readonly {% endif  %}>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-4 col-sm-4">
                                        <label for="gstPayable">GST Palyable :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="number" name="gstPayable"
                                                pattern="[0-9]*" required data-validate-length-range="0,5"
                                                style="padding: 0.25rem 0.2rem;" value="{{ rcti.gstPayable }}"
                                                id="gstPayable" {% if rcti %}  readonly {% endif  %}>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="totalExGST">Total (Ex.GST) :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="number" name="totalExGST" 
                                                style="padding: 0.25rem 0.2rem;" value="{{ rcti.totalExGST }}"
                                                id="totalExGST" {% if rcti %}  readonly {% endif  %}>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <label for="total">Total (In.GST) :<span class="required">*</span></label>
                                        <div class="field item form-group">
                                            <input class="form-control" required type="number" name="total"
                                                style="padding: 0.25rem 0.2rem;" value="{{ rcti.total }}"
                                                id="total" {% if rcti %}  readonly {% endif  %}>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                            {% if not rcti %} 
                            <input type="submit" value="Save" class="btn btn-default float-right">
                            {%endif%}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

</div>

</div>

{% endblock %}



{% block footerStyle %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'Dashboard/vendors/validator/multifield.js' %}"></script>
<script src="{% static 'Dashboard/vendors/validator/validator.js' %}"></script>

<script src="{% static 'js/reconciliation_analysis.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
    integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

    var validator = new FormValidator({
        "events": ['blur', 'input', 'change']
    }, document.forms[0]);
    // on form "submit" event
    document.forms[0].onsubmit = function (e) {

        var submit = true,
            validatorResult = validator.checkAll(this);
        console.log(validatorResult);

        return !!validatorResult.valid;
    };
    // on form "reset" event
    document.forms[0].onreset = function (e) {
        validator.reset();
    };
    // stuff related ONLY for this demo page:
    $('.toggleValidationTooltips').change(function () {
        validator.settings.alerts = !this.checked;
        if (this.checked)
            $('form .alert').remove();
    }).prop('checked', false);

</script>

{% endblock %}
