{% extends "main/main.html" %}
{% load static %}
{% block title %} | Uploded Past Trip files{% endblock %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Uploded Past Trip Files</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="cuatom-continer">
                {%for pasrTripFileNameList in pasrTripFileNameLists%}
                <div class="col-md-1 mt-2 text-center">
                  <a href="/static/Account/PastTripsEntry/{{pasrTripFileNameList.0}}@_!{{pasrTripFileNameList.1}}">
                    <i class="fa fa-file d-block w-100 m-auto text-info pb-2" style="font-size: 3rem;"></i>
                    {{pasrTripFileNameList.1}}
                  </a> <br>
                </div>
                {%endfor %} 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}