{% extends "main/main.html" %}
{% load static %}
{% block title %} | Reconciliation docket {% endblock %}

{% block headStyle %}

<style>
	.isInvalid {
		border: 1px solid rgb(255, 0, 0) !important;
	}

	input {
		background-color: white !important;
	}
</style>
{% endblock %}

{% block content %}
<div class="right_col " role="main">

	<div class="clearfix"></div>

	<div class="row">

		<div class="col-md-12 col-sm-12 ">
			<div class="x_panel">
				<div class="x_content">
					<div class="col-md-6 ">
						<div class="x_panel">
							{% if rctiDocket %}
							<div class="x_title">
								<h2>RCTI</h2>
								<a href="{% url 'Account:rctiForm' id=rctiDocket.id %}"
									class="btn btn-sm btn-default float-right">View rcti docket</a>
								<div class="clearfix"></div>
							</div>
							<div class="x_content">
								<br />
								
								{% comment %} Not Matched {% endcomment %}
								<form class="form-horizontal form-label-left">
									{% if rctiDocket.docketYard != driverDocket.basePlant.basePlant %}
									<div class="form-group row">
										<label for="RCTIbasePlant" class="control-label col-md-3 col-sm-3 ">Loading
											site:</label>
										<div class="col-md-9 col-sm-9 ">
											<input type="text"
												class="form-control {% if rctiDocket.docketYard != driverDocket.basePlant %}isInvalid{% endif %}"
												name="RCTIbasePlant" id="RCTIbasePlant" readonly
												value={{rctiDocket.docketYard}} required>
										</div>
									</div>
									{% endif %}
									{% if rctiDocket.noOfKm != driverDocket.noOfKm %}
									<div class="form-group row">
										<label for="RCTInoOfKm
											" class="control-label col-md-3 col-sm-3 "> Number of KM
											: </label>
										<div class="col-md-9 col-sm-9 ">
											<input type="number"
												class="form-control {% if rctiDocket.noOfKm != driverDocket.noOfKm %}isInvalid{% endif %}"
												name="RCTInoOfKm" id="RCTInoOfKm" required readonly
												value={{rctiDocket.noOfKm}}>
										</div>
									</div>
									{% endif %}
									{% if rctiDocket.transferKM != driverDocket.transferKM %}
									<div class="form-group row">
										<label for="RCTItransferKm
											" class="control-label col-md-3 col-sm-3 "> Transfer KM
											: </label>
										<div class="col-md-9 col-sm-9 ">
											<input type="number"
												class="form-control {% if rctiDocket.transferKM != driverDocket.transferKM %}isInvalid{% endif %}"
												name="RCTItransferKm" id="RCTItransferKm" required readonly
												value={{rctiDocket.transferKM}}>
										</div>
									</div>
									{% endif %}
									{% if rctiDocket.returnKm != driverDocket.returnKm %}
									<div class="form-group row">
										<label for="RCTIreturnKm
											" class="control-label col-md-3 col-sm-3 "> Return KM
											: </label>
										<div class="col-md-9 col-sm-9 ">
											<input type="number"
												class="form-control {% if rctiDocket.returnKm != driverDocket.returnKm %}isInvalid{% endif %}"
												name="RCTIreturnKm" id="RCTIreturnKm" required readonly
												value={{rctiDocket.returnKm}}>
										</div>
									</div>
									{% endif %}
									{% if rctiDocket.waitingTimeInMinutes != driverDocket.totalWaitingInMinute %}
									<div class="form-group row">
										<label for="RCTIwaitingTimeMinutes
											" class="control-label col-md-3 col-sm-3 "> Waiting time minute
											: </label>
										<div class="col-md-9 col-sm-9 ">
											<input type="number"
												class="form-control {% if rctiDocket.waitingTimeInMinutes != driverDocket.totalWaitingInMinute %}isInvalid{% endif %}"
												name="RCTIwaitingTimeMinutes" id="RCTIwaitingTimeMinutes" required
												readonly value={{rctiDocket.waitingTimeInMinutes}}>
										</div>
									</div>
									{% endif %}
									{% if rctiDocket.surcharge_duration != driverDocket.surcharge_duration %}
									<div class="form-group row">
										<label for="RCTIsurchargeDuration
											" class="control-label col-md-3 col-sm-3 "> Surcharge duration
											: </label>
										<div class="col-md-9 col-sm-9 ">
											<input type="number"
												class="form-control  {% if rctiDocket.surcharge_duration != driverDocket.surcharge_duration %}isInvalid{% endif %}"
												name="RCTIsurchargeDuration" id="RCTIsurchargeDuration" required
												readonly value={{rctiDocket.surcharge_duration}}>
										</div>
									</div>
									{% endif %}
									{% if rctiDocket.cubicMl != driverDocket.cubicMl %}
									<div class="form-group row">
										<label for="RCTIcubicMl" class="control-label col-md-3 col-sm-3"> Cubic Ml:
										</label>
										<div class="col-md-9 col-sm-9 ">
											<input type="number"
												class="form-control {% if rctiDocket.cubicMl != driverDocket.cubicMl %}isInvalid{% endif %}"
												name="RCTIcubicMl" id="RCTIcubicMl" required readonly
												value={{rctiDocket.cubicMl}}>
										</div>
									</div>
									{% endif %}
									{% if rctiDocket.othersCost != driverDocket.others %}
									<div class="form-group row">
										<label for="RCTIotherCost" class="control-label col-md-3 col-sm-3"> Other cost:
										</label>
										<div class="col-md-9 col-sm-9 ">
											<input type="number"
												class="form-control {% if rctiDocket.othersCost != driverDocket.others %}isInvalid{% endif %}"
												name="RCTIotherCost" id="RCTIotherCost" required readonly
												value={{rctiDocket.othersCost}}>
										</div>
									</div>
									{% endif %}
									{% if rctiDocket.standByNoSlot != driverDocket.standBySlot %}
									<div class="form-group row">
										<label for="RCTIotherCost" class="control-label col-md-3 col-sm-3"> Stand By Slot:
										</label>
										<div class="col-md-9 col-sm-9 ">
											<input type="number"
												class="form-control {% if rctiDocket.standByNoSlot != driverDocket.standBySlot %}isInvalid{% endif %}"
												name="RCTIotherCost" id="RCTIotherCost" required readonly
												value={{rctiDocket.standByNoSlot}}>
										</div>
									</div>
									{% endif %}
								</form>

								{% comment %} Matched {% endcomment %}
								 

								<!-- Start to do list -->
								<div class="col-md-12 col-sm-12  ">
									<div class="x_panel">
										<div class="x_title">
											<h2>RCTI</h2>
											<ul class="nav navbar-right panel_toolbox">
												<li><a class="collapse-link" style="margin-left:3rem"><i class="fa fa-chevron-up"></i></a>
												</li>
											</ul>
											<div class="clearfix"></div>
										</div>
										<div class="x_content">

											<div class="">
												<form class="form-horizontal form-label-left">
													<div class="form-group row">
														<label for="RCTIdocketNumber" class="control-label col-md-3 col-sm-3 "> Docket
															Number : </label>
														<div class="col-md-9 col-sm-9 ">
															<input type="number"
																class="form-control "
																name="RCTIdocketNumber" id="RCTIdocketNumber" readonly
																value={{rctiDocket.docketNumber}} required>
														</div>
													</div>
													<div class="form-group row">
														<label for="RCTIdocketDate" class="control-label col-md-3 col-sm-3 "> Docket
															Date
															: </label>
														<div class="col-md-9 col-sm-9 ">
															<input type="date"
																class="form-control "
																name="RCTIdocketDate" id="RCTIdocketDate" readonly
																value={{rctiDocket.docketDate}} required>
														</div>
													</div>
													
													{% if rctiDocket.docketYard == driverDocket.basePlant.basePlant %}
													<div class="form-group row">
														<label for="RCTIbasePlant" class="control-label col-md-3 col-sm-3 ">Loading
															site:</label>
														<div class="col-md-9 col-sm-9 ">
															<input type="text"
																class="form-control "
																name="RCTIbasePlant" id="RCTIbasePlant" readonly
																value={{rctiDocket.docketYard}} required>
														</div>
													</div>
													{% endif %}
													{% if rctiDocket.noOfKm != 0 and rctiDocket.noOfKm == driverDocket.noOfKm %}
													<div class="form-group row">
														<label for="RCTInoOfKm
															" class="control-label col-md-3 col-sm-3 "> Number of KM
															: </label>
														<div class="col-md-9 col-sm-9 ">
															<input type="number"
																class="form-control "
																name="RCTInoOfKm" id="RCTInoOfKm" required readonly
																value={{rctiDocket.noOfKm}}>
														</div>
													</div>
													{% endif %}
													{% if rctiDocket.transferKM != 0 and rctiDocket.transferKM == driverDocket.transferKM %}
													<div class="form-group row">
														<label for="RCTItransferKm
															" class="control-label col-md-3 col-sm-3 "> Transfer KM
															: </label>
														<div class="col-md-9 col-sm-9 ">
															<input type="number"
																class="form-control "
																name="RCTItransferKm" id="RCTItransferKm" required readonly
																value={{rctiDocket.transferKM}}>
														</div>
													</div>
													{% endif %}
													{% if rctiDocket.returnKm != 0 and rctiDocket.returnKm == driverDocket.returnKm %}
													<div class="form-group row">
														<label for="RCTIreturnKm
															" class="control-label col-md-3 col-sm-3 "> Return KM
															: </label>
														<div class="col-md-9 col-sm-9 ">
															<input type="number"
																class="form-control "
																name="RCTIreturnKm" id="RCTIreturnKm" required readonly
																value={{rctiDocket.returnKm}}>
														</div>
													</div>
													{% endif %}
													{% if rctiDocket.waitingTimeInMinutes != 0 and rctiDocket.waitingTimeInMinutes == driverDocket.totalWaitingInMinute%}
													<div class="form-group row">
														<label for="RCTIwaitingTimeMinutes
															" class="control-label col-md-3 col-sm-3 "> Waiting time minute
															: </label>
														<div class="col-md-9 col-sm-9 ">
															<input type="number"
																class="form-control "
																name="RCTIwaitingTimeMinutes" id="RCTIwaitingTimeMinutes" required
																readonly value={{rctiDocket.waitingTimeInMinutes}}>
														</div>
													</div>
													{% endif %}
													{% if rctiDocket.surcharge_duration != 0 and rctiDocket.surcharge_duration == driverDocket.surcharge_duration %}
													<div class="form-group row">
														<label for="RCTIsurchargeDuration
															" class="control-label col-md-3 col-sm-3 "> Surcharge duration
															: </label>
														<div class="col-md-9 col-sm-9 ">
															<input type="number"
																class="form-control  "
																name="RCTIsurchargeDuration" id="RCTIsurchargeDuration" required
																readonly value={{rctiDocket.surcharge_duration}}>
														</div>
													</div>
													{% endif %}
													{% if rctiDocket.cubicMl != 0 and rctiDocket.cubicMl == driverDocket.cubicMl %}
													<div class="form-group row">
														<label for="RCTIcubicMl" class="control-label col-md-3 col-sm-3"> Cubic Ml:
														</label>
														<div class="col-md-9 col-sm-9 ">
															<input type="number"
																class="form-control "
																name="RCTIcubicMl" id="RCTIcubicMl" required readonly
																value={{rctiDocket.cubicMl}}>
														</div>
													</div>
													{% endif %}
													{% if rctiDocket.othersCost != 0 and rctiDocket.othersCost == driverDocket.others %}
													<div class="form-group row">
														<label for="RCTIotherCost" class="control-label col-md-3 col-sm-3"> Other cost:
														</label>
														<div class="col-md-9 col-sm-9 ">
															<input type="number"
																class="form-control "
																name="RCTIotherCost" id="RCTIotherCost" required readonly
																value={{rctiDocket.othersCost}}>
														</div>
													</div>
													{% endif %}
													{% if rctiDocket.standByNoSlot != 0 and rctiDocket.standByNoSlot == driverDocket.standBySlot %}
													<div class="form-group row">
														<label for="RCTIstandByNoSlot" class="control-label col-md-3 col-sm-3">Stand By Slot:
														</label>
														<div class="col-md-9 col-sm-9 ">
															<input type="number"
																class="form-control "
																name="RCTIstandByNoSlot" id="RCTIstandByNoSlot" required readonly
																value={{rctiDocket.standByNoSlot}}>
														</div>
													</div>
													{% endif %}
												</form> 
											</div>
										</div>
									</div>
								</div>
								<!-- End to do list -->

							</div>
							{% else %}
							<h3 style="text-align:center;">No Record Found From RCTI.</h3>
							{% endif %}
						</div>
					</div>
					<div class="col-md-6 ">
						<div class="x_panel">
							{% if driverDocket %}
							<div class="x_title">
								<h2>Driver</h2>
								<!-- Button trigger modal -->
								<a type="button" class="btn btn-sm btn-default float-right text-light" data-toggle="modal" data-target=".bd-example-modal-lg">View Driver Docket</a>

								
								<!-- Modal -->
								<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-lg">
									  <div class="modal-content">
										<div class="modal-header">
										<h5 class="modal-title" id="exampleModalScrollableTitle">Docket View</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
										</div>
										<div class="modal-body">
											<div class="col-md-12 col-sm-12">
												<div class="x_panel">
													<div class="x_title">
														
															<div class="float-right">
																<input type="radio" id="tippingToYard" name="returnToYard" 
																style="margin-top: .8rem;"  onclick="returnToYard_(this)" value="returnToYard" {% if driverDocket %}disabled{% endif %} {% if driverDocket.returnToYard %}checked{% endif %}>
																<label for="tippingToYard" class=" ml-2"
																style="margin-right: 1rem; padding-top:0.7rem;">Tipping To Yard</label>
																<input type="radio" id="returnToYard" name="returnToYard" value="tippingToYard"
																style="margin-top: .8rem;"  onclick="returnToYard_(this)" {% if driverDocket %}disabled{% endif %} {% if driverDocket.tippingToYard %}checked{% endif %}>
																<label for="returnToYard" class=" ml-2"
																	style="margin-right: 1rem; padding-top:0.7rem;">Return To Yard</label>
																{% if not driverDocket %}
																<i class="fa fa-close text-danger ml-2" style="font-size: 1.2rem;" id="resetRadio"></i>
																{% endif %}
															</div>
														<div class="clearfix"></div>
													</div>
													<div class="x_content">
														<div class="custom-continer">
							
															<!-- shiftDate docketNumber docketFile  -->
															<div class="col-md-6 col-sm-6">
																<label for="shiftDate">ShiftDate :<span class="required">*</span></label>
																<div class="field item form-group">
																	<input class="form-control"  type="date"
																		name="shiftDate" required='required'
																		style="padding: 0.25rem 0.2rem;" id="shiftDate" value={{ driverDocket.shiftDate }} {% if driverDocket %}readonly{% endif %}>
																</div>
															</div>
															<div class="col-md-6 col-sm-6">
																<label for="docketNumber">Docket Number :<span class="required">*</span></label>
																<div class="field item form-group">
																	<input class="form-control"  type="text"
																		name="docketNumber" required='required'
																		style="padding: 0.25rem 0.2rem;" id="docketNumber" value={{ driverDocket.docketNumber }} {% if driverDocket %}readonly{% endif %}>
																</div>
															</div>
															<div class="col-md-6 col-sm-6">
																<label for="docketFile">DocketFile :<span class="required">*</span></label>
																<div class="field item form-group">
																	<input class="form-control"  type="file"
																		name="docketFile" style="padding: 0.25rem 0.2rem;" required="required"
																		id="docketFile">
																</div>
															</div>
															<!-- basePlant noOfKm  transferKM  -->
															<div class="col-md-6 col-sm-6 ">
																<label for="basePlant">basePlant :<span class="required">*</span></label>
																<div class="field item form-group">
																	<select name="basePlant" class="form-control" {% if driverDocket %}disabled{% endif %}>
																		{% for basePlant_ in basePlants %}
																		<option {% if driverDocket.basePlant.basePlant == basePlant_.basePlant %}selected{% endif %} value="{{basePlant_.id}}">{{ basePlant_.basePlant }}</option>
																		{% endfor %}
																	</select>
																</div>
															</div>
															<div class="col-md-6 col-sm-6">
																<label for="noOfKm">No Of Km:<span class="required">*</span></label>
																<div class="field item form-group">
																	<input class="form-control"  type="number"
																		name="noOfKm" required='required'
																		style="padding: 0.25rem 0.2rem;" id="noOfKm"  value={{ driverDocket.noOfKm }} readonly>
																</div>
															</div>
															<div class="col-md-6 col-sm-6">
																<label for="transferKM">Transfer Km :<span class="required">*</span></label>
																<div class="field item form-group">
																	<input class="form-control"  type="number"
																		name="transferKM" required='required'
																		style="padding: 0.25rem 0.2rem;" id="transferKM" value={{ driverDocket.transferKM }} readonly>
																</div>
															</div>
															<!--    returnQty  returnKm  waitingTimeStart      -->
															<div class="col-md-6 col-sm-6">
																<label for="returnQty">Return Qty:<span class="required">*</span></label>
																<div class="field item form-group">
																	<input class="form-control"  type="number"
																		name="returnQty" required='required'
																		style="padding: 0.25rem 0.2rem;" id="returnQty" readonly value={{ driverDocket.returnQty }}>
																</div>
															</div>
															<div class="col-md-6 col-sm-6">
																<label for="returnKm">Return Km:<span class="required">*</span></label>
																<div class="field item form-group">
																	<input class="form-control"  type="number"
																		name="returnKm" required='required'
																		style="padding: 0.25rem 0.2rem;" id="returnKm" readonly value={{ driverDocket.returnKm }}>
																</div>
															</div>
															<div class="col-md-6 col-sm-6">
																<label for="waitingTimeStart">Waiting Time Start :<span
																		class="required">*</span></label>
																<div class="field item form-group">
																	<input class="form-control"   type="time"
																		name="waitingTimeStart" required='required'
																		style="padding: 0.25rem 0.2rem;" id="waitingTimeStart" value={{ driverDocket.waitingTimeStart }} readonly>
																</div>
															</div>
							
															{% comment %} totalWaitingInMinute waitingTimeEnd surcharge_type {% endcomment %}
															
															<div class="col-md-6 col-sm-6">
																<label for="waitingTimeEnd">Waiting Time End :<span
																		class="required">*</span></label>
																<div class="field item form-group">
																	<input class="form-control"   type="time"
																		name="waitingTimeEnd" required='required'
																		style="padding: 0.25rem 0.2rem;" id="waitingTimeEnd" value={{ driverDocket.waitingTimeEnd }} readonly>
																</div>
															</div>
															<div class="col-md-6 col-sm-6">
																<label for="totalWaitingInMinute">Total Waiting In Minute :<span
																		class="required">*</span></label>
																<div class="field item form-group">
																	<input class="form-control" readonly  type="number"
																		name="totalWaitingInMinute" required='required'
																		style="padding: 0.25rem 0.2rem;" id="totalWaitingInMinute" value={{ driverDocket.totalWaitingInMinute }} readonly>
																</div>
															</div>
															<div class="col-md-6 col-sm-6">
																<label for="surcharge_type">Surcharge Type:<span class="required">*</span></label>
																<div class="field item form-group">
																	<select name="surcharge_type" class="form-control" {% if driverDocket %}disabled{% endif %}>
																		{% for surcharge in surcharges %}
																		<option value="{{surcharge.id}}" {% if driverDocket.surcharge_type.surcharge_Name == surcharge.surcharge_Name %}selected{% endif %}>{{surcharge.surcharge_Name}}</option>
																		{% endfor %}
																	</select>
																</div>
															</div>
															<!--     surcharge_duration    cubicMl standByStartTime -->
															<div class="col-md-6 col-sm-6">
																<label for="surcharge_duration">Surcharge Duration :<span
																		class="required">*</span></label>
																<div class="field item form-group">
																	<input class="form-control"  type="number"
																		name="surcharge_duration" required='required'
																		style="padding: 0.25rem 0.2rem;" id="surcharge_duration" value={{ driverDocket.surcharge_duration }} readonly>
																</div>
															</div>
															<div class="col-md-6 col-sm-6">
																<label for="cubicMl">Cubic Meter :<span class="required">*</span></label>
																<div class="field item form-group">
																	<input class="form-control"  type="number"
																		name="cubicMl" required="required"
																		style="padding: 0.25rem 0.2rem;" id="cubicMl" value={{ driverDocket.cubicMl }} readonly>
																</div>
															</div>
															<div class="col-md-6 col-sm-6">
																<label for="standByStartTime">StandBy start Time :<span class="required">*</span></label>
																<div class="field item form-group">
																	<input class="form-control"  type="time" readonly
																		name="standByStartTime" required='required'
																		style="padding: 0.25rem 0.2rem;" id="standByStartTime" value={{ driverDocket.standByStartTime }}>
																</div>
															</div>
															<!--     standByEndTime   others  comment-->
															<div class="col-md-6 col-sm-6">
																<label for="standByEndTime">StandBy End Time :<span class="required">*</span></label>
																<div class="field item form-group">
																	<input class="form-control"  type="time" readonly
																		name="standByEndTime" required='required'
																		style="padding: 0.25rem 0.2rem;" id="standByEndTime" value={{ driverDocket.standByEndTime }}>
																</div>
															</div>
															<div class="col-md-6 col-sm-6">
																<label for="others">Others :<span class="required">*</span></label>
																<div class="field item form-group">
																	<input class="form-control"  type="number"
																		name="others" style="padding: 0.25rem 0.2rem;"
																		required="required" id="others" value={{ driverDocket.others }} readonly>
																</div>
															</div>
															
															<div class="col-md-12 col-sm-12">
																<label for="comment">Comment :<span class="required">*</span></label>
																<div class="field item form-group">
																	<textarea placeholder="comment" id="comment" name="comment" readonly
																		class="form-control">{% if driverDocket %}{{ driverDocket.comment }}{% endif %}</textarea>
																</div>
															</div>
														</div>
														
													</div>
												</div>
											</div>
										</div>
										<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
										</div>
									</div>
									</div>
								</div>


								
								<a href="{% url 'Account:DriverTripEdit' id=driverDocket.tripId.id%}"
									class="btn btn-sm btn-default float-right">Driver Shift Details</a>

								<div class="clearfix"></div>

							</div>
							<div class="x_content">
								<br />


								{% comment %} miss matched {% endcomment %}

								
								<form class="form-horizontal form-label-left">
									{% if rctiDocket.docketYard != driverDocket.basePlant.basePlant %}
									<div class="form-group row">
										<label for="DriverbasePlant" class="control-label col-md-3 col-sm-3 ">Loading
											site:</label>
										<div class="col-md-9 col-sm-9 ">
											<input type="text"
												class="form-control {% if rctiDocket.docketYard != driverDocket.basePlant %}isInvalid{% endif %}"
												name="DriverbasePlant" id="DriverbasePlant" readonly
												value={{driverDocket.basePlant}} required>
										</div>
									</div>
									{% endif %}
									{% if rctiDocket.noOfKm != driverDocket.noOfKm %}
									<div class="form-group row">
										<label for="DrivernoOfKm
											" class="control-label col-md-3 col-sm-3 "> Number of KM
											: </label>
										<div class="col-md-9 col-sm-9 ">
											<input type="number"
												class="form-control  {% if rctiDocket.noOfKm != driverDocket.noOfKm %}isInvalid{% endif %}"
												name="DrivernoOfKm" id="DrivernoOfKm" readonly
												value={{driverDocket.noOfKm}} required>
										</div>
									</div>
									{% endif %}
									{% if rctiDocket.transferKM != driverDocket.transferKM %}
									<div class="form-group row">
										<label for="DrivertransferKm
											" class="control-label col-md-3 col-sm-3 "> Transfer KM
											: </label>
										<div class="col-md-9 col-sm-9 ">
											<input type="number"
												class="form-control {% if rctiDocket.transferKM != driverDocket.transferKM %}isInvalid{% endif %}"
												name="DrivertransferKm" id="DrivertransferKm" readonly
												value={{driverDocket.transferKM}} required>
										</div>
									</div>
									{% endif %}
									{% if rctiDocket.returnKm != driverDocket.returnKm %}
									<div class="form-group row">
										<label for="DriverreturnKm
											" class="control-label col-md-3 col-sm-3 "> Return KM
											: </label>
										<div class="col-md-9 col-sm-9 ">
											<input type="number"
												class="form-control {% if rctiDocket.returnKm != driverDocket.returnKm %}isInvalid{% endif %}"
												name="DriverreturnKm" id="DriverreturnKm" readonly
												value={{driverDocket.returnKm}} required>
										</div>
									</div>
									{% endif %}
									{% if rctiDocket.waitingTimeInMinutes != driverDocket.totalWaitingInMinute %}
									<div class="form-group row">
										<label for="DriverwaitingTimeMinutes
											" class="control-label col-md-3 col-sm-3 "> Waiting time minute
											: </label>
										<div class="col-md-9 col-sm-9 ">
											<input type="number"
												class="form-control {% if rctiDocket.waitingTimeInMinutes != driverDocket.totalWaitingInMinute %}isInvalid{% endif %}"
												name="DriverwaitingTimeMinutes" id="DriverwaitingTimeMinutes" readonly
												value={{driverDocket.totalWaitingInMinute}} required>
										</div>
									</div>
									{% endif %}
									{% if rctiDocket.surcharge_duration != driverDocket.surcharge_duration %}
									<div class="form-group row">
										<label for="DriversurchargeDuration
											" class="control-label col-md-3 col-sm-3 "> Surcharge duration
											: </label>
										<div class="col-md-9 col-sm-9 ">
											<input type="number"
												class="form-control {% if rctiDocket.surcharge_duration != driverDocket.surcharge_duration %}isInvalid{% endif %}"
												name="DriversurchargeDuration" id="DriversurchargeDuration" readonly
												value={{driverDocket.surcharge_duration}} required>
										</div>
									</div>
									{% endif %}
									{% if rctiDocket.cubicMl != driverDocket.cubicMl %}
									<div class="form-group row">
										<label for="DrivercubicMl
											" class="control-label col-md-3 col-sm-3 "> Cubic Ml
											: </label>
										<div class="col-md-9 col-sm-9 ">
											<input type="number"
												class="form-control {% if rctiDocket.cubicMl != driverDocket.cubicMl %}isInvalid{% endif %}"
												name="DrivercubicMl" id="DrivercubicMl" readonly
												value={{driverDocket.cubicMl}} required>
										</div>
									</div>
									{% endif %}
									{% if rctiDocket.othersCost != driverDocket.others %}
									<div class="form-group row">
										<label for="DriverOtherCost" class="control-label col-md-3 col-sm-3"> Other
											cost: </label>
										<div class="col-md-9 col-sm-9 ">
											<input type="number"
												class="form-control {% if rctiDocket.othersCost != driverDocket.others %}isInvalid{% endif %}"
												name="DriverOtherCost" id="DriverOtherCost" required readonly
												value={{driverDocket.others}}>
										</div>
									</div>
									{% endif %}
									{% if rctiDocket.standByNoSlot != driverDocket.standBySlot %}
									<div class="form-group row">
										<label for="DriverStandBySlot" class="control-label col-md-3 col-sm-3"> Stand By Slot :</label>
										<div class="col-md-9 col-sm-9 ">
											<input type="number"
												class="form-control {% if rctiDocket.standByNoSlot != driverDocket.standBySlot %}isInvalid{% endif %}"
												name="DriverStandBySlot" id="DriverStandBySlot" required readonly
												value={{driverDocket.standBySlot}}>
										</div>
									</div>
									{% endif %}
									
								</form>

								{% comment %} matched {% endcomment %}
								<!-- Start to do list -->
								<div class="col-md-12 col-sm-12  ">
									<div class="x_panel">
										<div class="x_title">
											<h2>Driver  <small></small></h2>
											<ul class="nav navbar-right panel_toolbox">
												<li><a class="collapse-link" style="margin-left:3rem"><i class="fa fa-chevron-up"></i></a>
												</li>
												
											</ul>
											<div class="clearfix"></div>
										</div>
										<div class="x_content">

											<div class="">
												<form class="form-horizontal form-label-left">
													<div class="form-group row">
														<label for="DriverdocketNumber"
															class="control-label col-md-3 col-sm-3 "> Docket
															Number : </label>
														<div class="col-md-9 col-sm-9 ">
															<input type="number" class="form-control"
																name="DriverdocketNumber" id="DriverdocketNumber"
																required readonly value={{driverDocket.docketNumber}}>
														</div>
													</div>
													<div class="form-group row">
														<label for="DriverdocketDate"
															class="control-label col-md-3 col-sm-3 "> Docket
															Date
															: </label>
														<div class="col-md-9 col-sm-9 ">
															<input type="date" class="form-control"
																name="DriverdocketDate" id="DriverdocketDate" required
																readonly value={{driverDocket.shiftDate}}>
														</div>
													</div>
													{% if rctiDocket.docketYard == driverDocket.basePlant.basePlant %}
													<div class="form-group row">
														<label for="DriverbasePlant"
															class="control-label col-md-3 col-sm-3 ">Loading
															site:</label>
														<div class="col-md-9 col-sm-9 ">
															<input type="text" class="form-control"
																name="DriverbasePlant" id="DriverbasePlant" readonly
																value={{driverDocket.basePlant}} required>
														</div>
													</div>
													{% endif %}
													{% if driverDocket.noOfKm != 0 and rctiDocket.noOfKm == driverDocket.noOfKm %}
													<div class="form-group row">
														<label for="DrivernoOfKm
														" class="control-label col-md-3 col-sm-3 "> Number of KM
															: </label>
														<div class="col-md-9 col-sm-9 ">
															<input type="number" class="form-control "
																name="DrivernoOfKm" id="DrivernoOfKm" readonly
																value={{driverDocket.noOfKm}} required>
														</div>
													</div>
													{% endif %}
													{% if driverDocket.transferKM != 0 and rctiDocket.transferKM == driverDocket.transferKM %}
													<div class="form-group row">
														<label for="DrivertransferKm
														" class="control-label col-md-3 col-sm-3 "> Transfer KM
															: </label>
														<div class="col-md-9 col-sm-9 ">
															<input type="number" class="form-control"
																name="DrivertransferKm" id="DrivertransferKm" readonly
																value={{driverDocket.transferKM}} required>
														</div>
													</div>
													{% endif %}
													{% if driverDocket.returnKm != 0 and rctiDocket.returnKm == driverDocket.returnKm %}
													<div class="form-group row">
														<label for="DriverreturnKm
														" class="control-label col-md-3 col-sm-3 "> Return KM
															: </label>
														<div class="col-md-9 col-sm-9 ">
															<input type="number" class="form-control"
																name="DriverreturnKm" id="DriverreturnKm" readonly
																value={{driverDocket.returnKm}} required>
														</div>
													</div>
													{% endif %}
													{% if driverDocket.totalWaitingInMinute != 0 and rctiDocket.waitingTimeInMinutes == driverDocket.totalWaitingInMinute %}
													<div class="form-group row">
														<label for="DriverwaitingTimeMinutes
														" class="control-label col-md-3 col-sm-3 "> Waiting time minute
															: </label>
														<div class="col-md-9 col-sm-9 ">
															<input type="number" class="form-control"
																name="DriverwaitingTimeMinutes"
																id="DriverwaitingTimeMinutes" readonly
																value={{driverDocket.totalWaitingInMinute}} required>
														</div>
													</div>
													{% endif %}
													{% if driverDocket.surcharge_duration != 0 and rctiDocket.surcharge_duration == driverDocket.surcharge_duration %}
													<div class="form-group row">
														<label for="DriversurchargeDuration
														" class="control-label col-md-3 col-sm-3 "> Surcharge duration
															: </label>
														<div class="col-md-9 col-sm-9 ">
															<input type="number" class="form-control"
																name="DriversurchargeDuration"
																id="DriversurchargeDuration" readonly
																value={{driverDocket.surcharge_duration}} required>
														</div>
													</div>
													{% endif %}
													{% if driverDocket.cubicMl != 0 and rctiDocket.cubicMl == driverDocket.cubicMl %}
													<div class="form-group row">
														<label for="DrivercubicMl
														" class="control-label col-md-3 col-sm-3 "> Cubic Ml
															: </label>
														<div class="col-md-9 col-sm-9 ">
															<input type="number" class="form-control"
																name="DrivercubicMl" id="DrivercubicMl" readonly
																value={{driverDocket.cubicMl}} required>
														</div>
													</div>
													{% endif %}
													{% if driverDocket.others != 0 and rctiDocket.othersCost == driverDocket.others %}
													<div class="form-group row">
														<label for="DriverOtherCost"
															class="control-label col-md-3 col-sm-3"> Other cost:
														</label>
														<div class="col-md-9 col-sm-9 ">
															<input type="number" class="form-control"
																name="DriverOtherCost" id="DriverOtherCost" required
																readonly value={{driverDocket.others}}>
														</div>
													</div>
													{% endif %}
													{% if driverDocket.standBySlot != 0 and rctiDocket.standByNoSlot == driverDocket.standBySlot %}
													<div class="form-group row">
														<label for="DriverStandBySlot"
															class="control-label col-md-3 col-sm-3"> Stand By Slot:
														</label>
														<div class="col-md-9 col-sm-9 ">
															<input type="number" class="form-control"
																name="DriverStandBySlot" id="DriverStandBySlot" required
																readonly value={{driverDocket.standBySlot}}>
														</div>
													</div>
													{% endif %}

												</form>
											</div>
										</div>
									</div>
								</div>
								<!-- End to do list -->

							</div>
							{% else %}
							<h3 style="text-align:center;">No Record Found From Driver Side.</h3>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="ln_solid "></div>
				<div class="form-group">
					<div class="row">
						<div class="col-md-9 col-sm-9  offset-md-3">
							{% comment %} <button type="reset" class="btn btn-primary">Reset</button>
							<button type="submit" class="btn btn-success">Submit</button> {% endcomment %}
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>
{% endblock %}