{% extends "main/main.html" %}
{% load static %}
{% block title %} | Nature of leaves {% endblock %}
{% block headStyle %}

 <!-- Datatables -->
 <link href="{% static 'Dashboard/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
 <link href="{% static 'Dashboard/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
 <link href="{% static 'Dashboard/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
 <link href="{% static 'Dashboard/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
 <link href="{% static 'Dashboard/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">

 <style>
  .dt-buttons.btn-group{
    float: right! important;
  }

  /* Hide all buttons (copy,csv,excel,pdf,print) */
  .dt-buttons.btn-group>a {
    display: none !important;
  }

  /* Show CSV button */
  .dt-buttons.btn-group>a:nth-child(2) {
    display: block !important;
  }
 </style>
{% endblock %}
{% block content %}

<div class="right_col" role="main">
  <div class="">

    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
          <div class="x_title">
            <h2>Nature of leaves</h2>
            <a href="{% url 'gearBox:natureOfLeaveForm'%}" class="btn btn-dark float-right">Add</a>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="row">
              <div class="col-sm-12">
                <div class="card-box table-responsive">
                  <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                      <tr>
                        <th class="w-50">Reason</th>
                        <th class="w-50">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for nature_of_leaves in nature_of_leaves %}
                      <tr>
                        <td>{{ nature_of_leaves.reason }}</td>
                        <td>
                          <label type="button" class="btn" id="redirectButton"><a href="{% url 'gearBox:natureOfLeavesEdit' id=nature_of_leaves.id %}"><i class="fa-solid fa-arrow-right" style="font-size:1.3rem"></i></a></label>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block footerStyleEnd %}
<script>
  const redirectButtons = document.querySelectorAll('.redirectButton');
  redirectButtons.forEach(function (button) {
    button.addEventListener('click', function() {
      const djangoURL = button.getAttribute('data-url');
      window.location.href = djangoURL;
    });
  });
</script>

<script>
  $(document).ready(function () {
    $('#datatable-buttons').DataTable();
  });
</script>
  <!-- Datatables -->
  <script src="{% static 'Dashboard/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'Dashboard/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'Dashboard/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'Dashboard/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
  <script src="{% static 'Dashboard/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
  <script src="{% static 'Dashboard/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'Dashboard/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'Dashboard/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
  <script src="{% static 'Dashboard/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
  <script src="{% static 'Dashboard/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'Dashboard/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
  <script src="{% static 'Dashboard/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
  <script src="{% static 'Dashboard/vendors/jszip/dist/jszip.min.js' %}"></script>
  <script src="{% static 'Dashboard/vendors/pdfmake/build/pdfmake.min.js' %}"></script>
  <script src="{% static 'Dashboard/vendors/pdfmake/build/vfs_fonts.js' %}"></script>

{% endblock %}