{% extends "main/main.html" %} {% load static %} {% block title %} | Driver change{% endblock %} {% block headStyle %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

{% endblock %} {% block content %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{% if data %}Edit{% else %}Add{% endif %} driver</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="cuatom-continer">
                            <form
                                action="{% if data %}{% url 'gearBox:driverFormEditSave' id=data.driverId %} {% else %}{% url 'gearBox:driverFormSave' %}{% endif %}"
                                method="POST" novalidate>
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <label for="driverId"
                                            class="col-form-label col-md-3 col-sm-3 label-align">DriverId :<span
                                                class="required">*</span></label>

                                        <div class="field item form-group col-md-6 col-sm-6">
                                            <input class="form-control" name="driverId" required="required"
                                                id="driverId" type="number"
                                                value="{% if data %}{{data.driverId}}{% else %}{% endif %}" {% if data %}readonly{% else %}{% endif %}/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <label for="name"
                                            class="col-form-label col-md-3 col-sm-3 label-align">Driver name :<span
                                                class="required">*</span></label>
                                        <div class="field item form-group col-md-6 col-sm-6">
                                            <input class="form-control" name="name" required="required"
                                                id="name" type="text"
                                                value="{% if data %}{{data.name}}{% else %}{% endif %}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <label for="email" class="col-form-label col-md-3 col-sm-3 label-align">Email :<span class="required">*</span></label>
                                        <div class="field item form-group col-md-6 col-sm-6">
                                            <input class="form-control" name="email" required="required" id="email"
                                                type="email" autocomplete="off"
                                                value="{% if data %}{{data.email}}{% else %}{% endif %}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <label for="phone" class="col-form-label col-md-3 col-sm-3 label-align">Phone :<span class="required">*</span></label>
                                        <div class="field item form-group col-md-6 col-sm-6">
                                            <input class="form-control" name="phone" required="required" id="phone"
                                                type="number" data-validate-length-range="10,10"
                                                value="{% if data %}{{data.phone}}{% else %}{% endif %}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <label for="password" class="col-form-label col-md-3 col-sm-3 label-align">Password :<span class="required">*</span></label>
                                        <div class="field item form-group col-md-6 col-sm-6">
                                            <input class="form-control" name="password" required="required" id="password"
                                                type="password" {% if data %}disabled{% endif %}    
                                                value="{% if data %}{{data.password}}{% else %}{% endif %}" autocomplete="off"/>
                                        </div>
                                    </div>
                                </div>
                              
                                <div class="row">
                                    <div class="col-md-9 col-sm-9 text-right">
                                        <button type="reset" class="btn btn-success px-4">
                                            Reset
                                        </button>
                                        <button type="submit" class="btn btn-primary px-4">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

{% block footerStyle %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'Dashboard/vendors/validator/multifield.js' %}"></script>
<script src="{% static 'Dashboard/vendors/validator/validator.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
    integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    // initialize a validator instance from the "FormValidator" constructor.
    // A "<form>" element is optionally passed as an argument, but is not a must
    var validator = new FormValidator(
        {
            events: ["blur", "input", "change"],
        },
        document.forms[0]
    );
    // on form "submit" event
    document.forms[0].onsubmit = function (e) {
        var submit = true,
            validatorResult = validator.checkAll(this);
        console.log(validatorResult);
        return !!validatorResult.valid;
    };
    // on form "reset" event
    document.forms[0].onreset = function (e) {
        validator.reset();
    };
    // stuff related ONLY for this demo page:
    $(".toggleValidationTooltips")
        .change(function () {
            validator.settings.alerts = !this.checked;
            if (this.checked) $("form .alert").remove();
        })
        .prop("checked", false);
</script>
{% endblock %} {% endblock %}